@charset "utf-8";

.edit-task {
  width: 1000px;
  margin: 0 auto;
}

.edit-task-form {
  color: #555555;
}

.edit-task-title,
.edit-task-detail {
  width: 300px;
  margin-bottom: 25px;
}

.error-message {
  color: #ff3333;
}
