.textFieldWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  color: var(--slate-600);
  font-weight: 500;
}

.input {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--slate-200);
  color: var(--slate-800);
  outline: none;
  transition:
    border 0.2s,
    box-shadow 0.2s;
  box-sizing: border-box;
}

.input:focus {
  border-color: var(--indigo-600);
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.5);
}

.input::placeholder {
  color: var(--slate-500);
}
